<div class="row">
    <input class="col s8 l8 form-control" id="myInput" type="text" placeholder="Escribe un ID para buscar"><a class="btn">Buscar</a>

      <div class="card teal lighten-2">
        <div class="card-content teal lighten-5">
            <ul class="collection with-header white">
                <li>
                    <li class="col s2 l2 collection-item header teal lighten-4 center"><h6><strong>ID: 0001</strong></h6></li>
                    <li class="col s4 l4 collection-item header"><h6><strong>  </strong></h6></li>
                    <li class="col s6 l6 collection-item header center"><h6>Fecha y Hora de Ingreso: <strong>12/12/2020 - 17:35 </strong></h6></li>
                    </li>
                <li>
                <li class="col s4 l4 collection-item header center"><h6>Nombre: <strong>Jolyne</strong></h6></li>
                <li class="col s4 l4 collection-item header center"><h6>Apellido Paterno: <strong>Cujoh</strong></h6></li>
                <li class="col s4 l4 collection-item header center"><h6>Apellido Paterno: <strong>Joestar</strong></h6></li>
                </li>
                
                <li class="col s12 l12 collection-item header center"><h6>CURP:<strong>JOJO780412MLPRSJ09</strong></h6></li>
                <li>
                    <li class="col s3 l3 collection-item header center"><h6>Tipo de Sangre <strong>AB+</strong></h6></li>
                    <li class="col s5 l5 collection-item header center"><h6>Lugar de Nacimiento: <strong>Merida, Yucatan, Mexico</strong></h6></li>
                    <li class="col s4 l4 collection-item header center"><h6>Fecha de Nacimiento: <strong>10/10/1999</strong></h6></li>
                </li>
                <li>
                    <li class="col s3 l3 collection-item header center"><h6>Discapacidad <strong>Miopia</strong></h6></li>
                    <li class="col s5 l5 collection-item header center"><h6>Escolaridad <strong>3 de Bachillerato</strong></h6></li>
                    <li class="col s4 l4 collection-item header center"><h6>Medicamentos Recetados: <strong>No</strong></h6></li>
                </li>
                <li>
                    <li class="col s5 l5 center"><h6>No. Expediente: <strong>JOJ0001</strong></h6></li>
                    <li class="col s4 l4  center"><h6>No. de Dispociscion: <strong>2471320</strong></h6></li>
                    <li class="col s3 l3  center"><h6>Hermanos: <input type="checkbox" checked="checked" /><span>Si</span></h6></li>
                    
                </li>
                
                <li class="col s12 l12 collection-item header "><hr><strong><h6>Motivo de Ingreso: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla libero, odio,
                     officiis ullam minima quia laborum et fugiat doloribus autem ratione, rerum corrupti harum? Maxime ratione consequuntur placeat ducimus architecto!
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, corporis similique quam ea, autem modi, mollitia laboriosam iusto harum praesentium laborum. Quibusdam nemo consequuntur commodi, esse iste itaque. Atque, totam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita debitis, accusantium exercitationem velit dicta vero suscipit ducimus porro itaque quam? Eum eius odio voluptas dolores non nam itaque recusandae quibusdam?
                    </h6></li>
              <li class="col s12 l12 collection-item header "><strong><h6>Consideraciones Generales: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla libero, odio,
                officiis ullam minima quia laborum et fugiat doloribus autem ratione, rerum corrupti <strong>? Maxime ratione consequuntur placeat</strong> ducimus architecto!
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, corporis similique quam ea, autem modi, mollitia laboriosam iusto harum praesentium laborum. Quibusdam nemo consequuntur commodi, esse iste itaque. Atque, totam.
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita debitis, accusantium exercitationem velit dicta vero suscipit ducimus porro itaque quam? Eum eius odio voluptas dolores non nam itaque recusandae quibusdam?
               </h6></li>
               <li class="col s12 l12 collection-item header "><strong><h6>Diagnostico: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla libero, odio,
                officiis ullam minima quia laborum et fugiat doloribus autem ratione, rerum corrupti <strong>? Maxime ratione consequuntur placeat</strong> ducimus architecto!
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, corporis similique quam ea, autem modi, mollitia laboriosam iusto harum praesentium laborum. Quibusdam nemo consequuntur commodi, esse iste itaque. Atque, totam.
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita debitis, accusantium exercitationem velit dicta vero suscipit ducimus porro itaque quam? Eum eius odio voluptas dolores non nam itaque recusandae quibusdam?
               </h6></li>
         </ul>

        </div>
      </div>
    </div>
  </div>