<br>
<div class="row">
    <div class="col-2"> 
    </div>
    <div class="col-7">
      <h2 id="titulo">Expedientes  <i class="fas fa-file-alt"></i></i></h2>
    </div>

  <div class="col-2">
    <a href="altaBeneficiaria.php"><button type="button" class="btn btn-primary" >Agregar  <i class="fas fa-plus-circle"></i></button></a>
  </div>

  <div class="col-1">
    <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
  </div>
  
</div>
<hr>