

<br>
<div class="card teal lighten-2">
<div class="card-content teal lighten-3">
<div class="carousel carousel-slider center" data-indicators="true">
  <!-- SI SE ESTA UTILIZANDO UN FORM DE UNA SOLA PANTALLAESTOS SE DESABILITAN
  <div class="carousel-fixed-item center">
    <a class="waves-effect waves-light btn share-btn" href="http://google.com" target="_blank">Algun link</a>
     Botones de Control desabilitados por el momento, ya que no se ocupan en este form
      
      <a class="waves-effect waves-light btn slide-prev">Anterior</a>
      <a class="waves-effect waves-light btn slide-next">Siguiente</a>
  </div>
  -->
  <div class="carousel-item teal lighten-5 " href="#one!" id="carousel-Docs">
      <h2>Alta de Especialidad</h2>
    <div class="col s12 align-center">
      <form action="#">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Nueva Especialidad" type="text" class="validate">
            <label for="rol"><strong>Nombre de especialidad nueva</strong></label>     
        </div>
        <div> </div>
        </div>
        <div class="file-field input-field">
          <div class="input-field col s12 l12 left">
            <button class="waves-effect waves-light btn right" type="submit" name="action">Registrar
              <i class="material-icons right">add</i>
            </button>
        </div>
        </div>
      </form>
      </div>
  </div>
  <!--  PANELES SIGUIENTES PARA USARSE EN LOS IGUIENTES FORMULARIOS DE SER NECESARIO UNU
  <div class="carousel-item amber white-text" href="#two!">
      <h2>2 Second Panel</h2>
      <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
      <h2> 3 Third Panel</h2>
      <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
      <h2> 4 Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
  </div>
  -->
</div>
</div>
</div>



<script>
 $(document).ready(function () {
    $('.carousel').carousel();
    $('.carousel.carousel-slider').carousel({ fullWidth: true , noWrap: true});
    $('.slide-prev').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $('.carousel').carousel('prev')
    });
    $('.slide-next').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $('.carousel').carousel('next')
    });
 
});
  </script>