<body id="login" >
    <br>
      <div class="container h-100">
          <div class="d-flex justify-content-center h-100">
              <div class="user_card">
                  <div class="d-flex justify-content-center">
                      <div class="brand_logo_container">
                          <img id="logo1" src="Image/logo_interna.png" class="brand_logo" alt="Logo">
                      </div>
                  </div>
                  <div class="d-flex justify-content-center form_container">
                      <form>
              <br>
                          <div class="input-group mb-3">
                              <div class="input-group-append">
                                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                              </div>
                              <input type="email" name="" class="form-control input_user" value="" placeholder="Correo Electronico">
                          </div>
                          <div class="input-group mb-2">
                              <div class="input-group-append">
                                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                              </div>
                              <input type="password" name="" class="form-control input_pass" value="" placeholder="Contraseña">
                          </div>
                          <div class="form-group">
                              <div id="textoX" class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customControlInline">
                                  <label class="custom-control-label" for="customControlInline">Recordarme</label>
                              </div>
                          </div>
                              <div class="d-flex justify-content-center mt-3 login_container">
                       <a href="index.php" ><button type="button" name="button" class="btn login_btn">Iniciar Sesion</button></a>
                     </div>
                      </form>
                  </div>
          
                  <div class="mt-4">
                      <div id="textoX" class="d-flex justify-content-center links">
                      ¿No puedes entrar? Contacta al Administrador<br><a href="#" class="ml-2">Aqui</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <br>
  
</body>