<div class="col s12">
<div class="card teal lighten-2">
  <div class="card-content teal ">
<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-item teal lighten-5 center" href="#one!" id="carousel-Docs">
      <h2>Nueva Escuela</h2>
    <div class="col s12 align-center">
      <form action="Controladores\Escuela\controladorAltaEscuela.php" method="post">
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="secundaria general 1" type="text"  name="escuela_nombre" id="escuela_nombre" required>

            <label for="rol"><strong>Nombre</strong></label>     
        </div>
        </div>
        <div class="file-field input-field">
          <div class="input-field col s12 l12 left">
            <button id="test" class="waves-effect waves-light btn right" type="submit" name="action">Registrar
              <i class="material-icons right">add</i>
            </button>
            <a id="" href="consultaEscuela.php" class="waves-effect green lighten-3 btn right">Volver<i class="material-icons right">undo</i>
            </a>
            
        </div>
        </div>
      </form>
      </div>
  </div>
</div>
</div>
</div>
