        <!-- Elemento -->
        <div class="carousel-fixed-item center">
          <p>Los campos marcados por * son  obligatorios</p>
          <a class="waves-effect waves-light btn slide-prev">Anterior</a>
          <button id="test" class="waves-effect waves-light btn right" type="submit" name="action">Registrar
            <i class="material-icons right">add</i>
          </button>
        </div>


      </div>
  </div>



</form>
</div>
</div>
</div>

</div>

<script>
 $(document).ready(function () {
    $('.carousel').carousel();
    $('.carousel.carousel-slider').carousel({ fullWidth: true , noWrap: true});
    $('.slide-prev').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $('.carousel').carousel('prev')
    });
    $('.slide-next').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $('.carousel').carousel('next')
    });
 
});
  </script>