<div class="col s12">
  <div class="card teal lighten-2">
  <div class="card-content teal lighten-3">
  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item teal lighten-5" href="#one!" id="Docs-Benefi">
      <div class="col s12">