<input class="form-control" id="myInput" type="text" placeholder="Buscar">
<br>
<form id="medicamento" action="consultaMedicamento.php" method="POST">
        <table class="table">
        <thead>
            <tr>
            <th>Ver</th>
            <th>Nombre</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td><input type="submit" name="medicamento" class="btn" value="medicamento" /></td>
                <td>Paracetamol1</td> 
            </tr>
            <tr>
                <td><input type="submit" name="medicamento" class="btn" value="medicamento" /></td>
                <td>Paracetamol2</td>
            </tr>
        </tbody>
        </table>
    </form>