<br>
<?php if(isset($_SESSION["warning"])): ?>
<div class="row">
  <div class="col s12 m12 l12">
      <div class="card red lighten-1">
          <div class="card-content white-text">
              <span class="card-title"><i class="material-icons medium left">warning</i><?=$_SESSION["warning"] ?></span>
          </div>
      </div>
  </div>
</div>
<?php unset($_SESSION["warning"])?>
    <?php endif;?>

        <?php if(isset($_SESSION["mensaje"])): ?>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card blue lighten-1">
                        <div class="card-content white-text">
                            <span class="card-title"><i class="material-icons medium left">info</i><?=$_SESSION["mensaje"] ?></span>
                        </div>
                    </div>
                </div>
            </div>
  <?php unset($_SESSION["mensaje"])?>
<?php endif;?>  
<div class="row">
  <br>
      <h2 id="titulo">Medicamentos  <i class="material-icons medium">healing</i></h2>
</div>

<div class="row">
  <div class="col s10">
    
  </div>

  <div class="col s2">
      <!--FALTA CHECAR XDXD-->
    <a href="altaMedicamento.php" class="waves-effect waves-light btn"><i class="material-icons right">control_point</i>Agregar</a>
  </div>
 
</div>
<hr>
<br>