
<br>
<div class="card teal lighten-2">
<div class="card-content teal lighten-3">
<div class="carousel carousel-slider center" data-indicators="true">

  <div class="carousel-fixed-item center">
    <a class="waves-effect waves-light btn slide-prev">Anterior</a>
      <a class="waves-effect waves-light btn slide-next">Siguiente</a>
  </div>
  <div class="carousel-item teal lighten-5" href="#one!" id="Docs-Benefi">
      <h2>Alta de Beneficiaria</h2>
    <div class="col s12">
      <form action="Controladores\Expediente\controladorAltaExpediente.php" method="POST">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input type="date" name="fecha">
            <label for="rol"><strong>Fecha de ingreso:</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input type="time" name="hora">
            <label for="rol"><strong>Hora de ingreso</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Maria" type="text"  name="nombre">
            <label for="rol"><strong>Nombre</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Garcia" type="text"  name="apellidoPaterno">
            <label for="rol"><strong>Apellido Paterno</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Perez" type="text"  name="apellidoMaterno">
            <label for="rol"><strong>Apellido Materno</strong></label>     
        </div>
        </div>
      
      </div>
  </div>
  
  <div class="carousel-item teal lighten-5" href="#two!">
    <h2>Alta de Beneficiaria</h2>
    <div class="col s12">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input type="date" oninput="this.className = ''" name="fechaN">
            <label class="formato2" for="rol"><strong>Fecha de nacimiento:</strong></label>     
        </div>
        </div>

        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            