</select>
<label class="formato2" for="rol"><strong>Ciudad</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="SAGR980910HSRNLL19"  oninput="this.className = ''" name="curp" type="text" >
            <label for="rol"><strong>CURP</strong></label>     
        </div>
        </div>
      
      </div>
  </div>


  <div class="carousel-item teal lighten-5" href="#three!">

    <h2>Canalizador</h2>
    <div class="col s12">
        <div id="datoscanalizador" class="col s12">
          
        
        