
            <label for="rol"><strong>Estado</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Huatabampo" oninput="this.className = ''" name="ciudad" type="text" >