
        <a id="agregarcanalizador" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
        </div>
    </div>
  </div>

  <div class="carousel-item teal lighten-5" href="#four!">
   
    <h2>Alta de Beneficiaria</h2>
    <div class="col s12">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="-" oninput="this.className = ''" name="nExpediente" type="text">
            <label for="rol"><strong>Número de expediente y/o carpeta de investiación</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="-" oninput="this.className = ''" name="motivo" type="text" >
            <label for="rol"><strong>Motivo de ingreso</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s6">
            <i class="material-icons prefix"> </i>
            <select name="hermanos" id="">
              <option value="" selected>Seleccione (Sí/No)</option>
              <option value="1">Sí</option>
              <option value="0">No</option>
            </select>
            <label for="rol"><strong>Ingreso con hermanos</strong></label>     
        </div>
        </div>
        <div class="file-field input-field">
          <div class="input-field col s6">
            <i class="material-icons prefix"> </i>

            