<form class="form-groupO" id="regForm" action="#">
    <!--Informacion de la receta-->
    <div class="tab">
      <div class="row">
        <div class="col s6">
          <p>Paciente:<input oninput="this.className = ''" name="idDeIngreso"></p>
          <p>Fecha de inicio:<input type="date" oninput="this.className = ''" name="fechaIni"></p>
          <p>Fecha final:<input type="date" oninput="this.className = ''" name="fechaFin"></p>
          <p>Indicaciones:<br><textarea class="materialize-textarea" name="message" rows="10" cols="50" oninput="this.className = ''" name="descripcion"></textarea></p>
        </div>
        <div class="col s6">
          <p>Medicamento:</p>
          <select class="browser-default" id="exampleFormControlSelect2">
            <option value=0>Ninguno</option>
            <option>-</option>
            <option>-</option>
          </select>
          <br>
          <p>Dosis:<input type="text" oninput="this.className = ''" placeholder="0" name="dosis"></p>
        </div>
      </div>
    </div>
          
    <div class="footform">
      <div class="botonesform">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div class="steps">
      <span class="step"></span>
    </div>
</form>
