
.logo{
  width: 125px;
  height: auto;
  padding-left: 10px
}

.logoO{
  position:absolute;
  width: 125px;
  top:87%;
  left:12%;
}

#owo{
  text-align:center;
}#logo{
  textcenter;
}
#perfil {
  width: 1.8em;
  height: 1.8em;
  position:absolute;
  right:1.3em;
}
#login{
background-color:#005959;
}

#perfilazo{
  position:relative;
}
#titulo{
 text-align: center;

}#textoX{
 color:#fff;

}
.footer {
  background-color: #b4b4b4;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #005959;
  position: fixed;
  height: 100%;
  overflow: auto;


}

.sidebar a {
  font-family:'Lucida Sans', sans-serif;
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;

}
 
.sidebar a.active {
  background-color: #02A5A5;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #276464;
  color: white;
}
.navbar-default {
    background-color: rgb(48, 45, 45);
    border-color: #E7E7E7;
}

.main {
  margin-left: 200px; 
  font-size: 28px; 
  padding: 0px 10px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/*Multi Step Form */
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 1px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  border-radius:10%;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
  border-radius:10%;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
/*Termina Multi Step Form */


#textoX{
  color: white;
}

#custom-control-label {
  color: white;
}

#owo {
  padding-left: 250px;
}