<br>
<div class="card teal lighten-2">
<div class="card-content teal lighten-3">
<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-item teal lighten-5 " href="#one!">
      <h2>Alta Canalizador</h2>
    <div class="col s12 align-center">
      <form action="Controladores\Canalizador\controladorAltaCanalizador.php" method="POST">
          <!-- Elemento -->
          <div class="file-field input-field">
            <div class="input-field col s12">
              <i class="material-icons prefix"> </i>
              <input placeholder="Juan Perez" type="text" class="validate" name="nombre" id="nombre"required>
              <label for="rol"><strong>Nombre</strong></label>     
          </div>
          </div>
          <!-- Elemento -->
          <div class="file-field input-field">
            <div class="input-field col s4">
              <i class="material-icons prefix"> </i>
              <input placeholder="Numero de telefono" type="text" class="validate" name="telefono" id="telefono" required>
              <label for="rol"><strong>Telefono</strong></label>     
            </div>
          </div>
          <!-- Elemento -->
          <div class="file-field input-field">
            <div class="input-field col s8">
              <i class="material-icons prefix"> </i>
              <input placeholder="..@gmail.com" type="text" class="validate" name="email" id="email" required>
              <label for="rol"><strong>Correo Electronico</strong></label>     
            </div>
          </div>
         

        <!-- Elemento -->
          <div class="file-field input-field">
            <div class="input-field col s4">
              <i class="material-icons prefix"> </i>
              <input placeholder="INE/Pasaporte" type="text" class="validate" name="identificacion" id="identificacion" required>
              <label for="rol"><strong>Identificacion</strong></label>     
            </div>
          </div> 

          <!-- Elemento -->
          <div class="file-field input-field">
            <div class="input-field col s8">
              <i class="material-icons prefix"> </i>
              <input placeholder="A05848754154" type="text" class="validate" name="numeroI" id="numeroI" required>
              <label for="rol"><strong>Numero de identificacion</strong></label>     
            </div>
          </div>
           <!-- Elemento -->
           <div class="file-field input-field">
            <div class="input-field col s4">
              <i class="material-icons prefix"> </i>

                <?=crear_selectInstituciones("idInstitucion", "nombre", "institucion");?> 
            </div>
          </div>

           <!-- Elemento -->
           <div class="file-field input-field">
            <div class="input-field col s8">
              <i class="material-icons prefix"> </i>
              <input placeholder="Supervisor" type="text" class="validate" name="cargo" id="cargo" required>
              <label for="rol"><strong>Cargo</strong></label>     
            </div>
          </div>

        </div>
            <div class="carousel-fixed-item center">
              <a  href="consultaCanalizador.php" class="waves-effect green lighten-3 btn ">Volver 
              </a>
              <input class="btn" type="submit" value="Registrar" name="Registrar">
            </div>
      </form>
      </div>
  </div>
</div>
</div>
</div>