<div class="input-field col s12">
    <i class="material-icons prefix">search</i>
    <input placeholder="Buscar" type="text" class="validate">
    <label for="rol">Escribe un Area para buscar</label>     
</div>
<form id="area" action="consultaArea.php" method="POST">
        <table class="table">
        <thead>
            <tr>
            <th>Ver</th>
            <th>Nombre de area</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td><input type="submit" name="area" class="btn" value="area" /></td>
                <td>Medicina</td>
            </tr>
            <tr>
                <td><input type="submit" name="area" class="btn" value="area" /></td>
                <td>Psipedadogia</td>
            </tr>
        </tbody>
        </table>
    </form>