<br>
<div class="row">
  <br>
      <h2 id="titulo">Areas de Diagnostico  <i class="material-icons medium">business</i></h2>
</div>

<div class="row">
  <div class="col s10">
    
  </div>

  <div class="col s2">
    <a href="altaArea.php" class="waves-effect waves-light btn"><i class="material-icons right">control_point</i>Agregar</a>
  </div>
 
</div>
<hr>
<br>