
<div class="col s1">
<ul class="sidenav sidenav-fixed invesible-top teal darken-3" id="mobile-nav">
    <li>
        <ul class="collapsible expandable white-text">
        <li>
          <div class="collapsible-header"><i class="material-icons">insert_drive_file</i>Expedientes</div>
          <div class="collapsible-body teal darken-4 center"><a href="index.php" class="white-text">Expedientes</a></div>
          <div class="collapsible-body teal darken-4 center"><a href="consultaExpediente.php" class="white-text">Consultar Expedientes</a></div>
          <div class="collapsible-body teal darken-4 center">
            <a href="altaDocumentos.php" class="white-text">Subir documentos</a>
        </div>
          <li><div class="divider"></div></li>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">local_hospital</i>Medicina</div>
          <div class="collapsible-body teal darken-4 center">
              <a href="consultaMedicamento.php" class="white-text">Consultar Medicamentos</a>
         </div>
         <div class="collapsible-body teal darken-4 center">
            <a href="consultaReceta.php" class="white-text">Consultar Recetas</a> 
         </div>
         <div class="collapsible-body teal darken-4 center">
            <a href="consultaDiagnostico.php" class="white-text">Consultar Diagnosticos</a>
         </div>
         <div class="collapsible-body teal darken-4 center">
          <a href="consultaDiscapacidad.php" class="white-text">Consultar Discapacidad</a>
         </div>
        </li>
        <li><div class="divider"></div></li>
        <li>
          <div class="collapsible-header"><i class="material-icons">my_location</i>Programas de Atencion</div>
          <div class="collapsible-body teal darken-4 center">
            <a href="consultaPrograma.php" class="white-text">Consultar Programas de atención</a> 
           </div>
        </li>
        <li><div class="divider"></div></li>
        <li>
            <div class="collapsible-header"><i class="material-icons">map</i>Area</div>

            <div class="collapsible-body teal darken-4 center">
                <a href="consultaArea.php" class="white-text">Consultar Areas</a>  
            </div>
            <div class="collapsible-body teal darken-4 center">
              <a href="consultaEspecialidad.php" class="white-text">Consultar Especialidades</a>  
          </div>
          </li>
          <li><div class="divider"></div></li>
        <li>
            <div class="collapsible-header"><i class="material-icons">camera_roll</i>Album</div>
            <div class="collapsible-body teal darken-4 center">
                <a href="altaAlbum.php" class="white-text">Alta de Album</a>
            </div>
          </li>
        <li><div class="divider"></div></li>
        <li>
          <div class="collapsible-header"><i class="material-icons">business_center</i>Instituciones</div>

          <div class="collapsible-body teal darken-4 center">
            <a href="consultaInstitucion.php" class="white-text">Consulta de Instituciones</a>

        </div>
        </li>




        <li><div class="divider"></div></li>
        <li>
          <div class="collapsible-header"><i class="material-icons">event_seat</i>Educacion</div>
          <div class="collapsible-body teal darken-4 center">
            <a href="consultaEscolaridad.php" class="white-text">Consulta Escolaridad</a>
        </div>
          <div class="collapsible-body teal darken-4 center">
              <a href="consultaEscuela.php" class="white-text">Consulta Escuelas</a>
          </div>
          <div class="collapsible-body teal darken-4 center">
            <a href="consultaGradoEscolar.php" class="white-text">Consultar Grados Escolares</a>
        </div>
        </li>

        <li><div class="divider"></div></li>
        <li>
          <div class="collapsible-header"><i class="material-icons">accessibility</i>Canalizador</div>
          <div class="collapsible-body teal darken-4 center">
            <a href="consultaCanalizador.php" class="white-text">Consulta Canalizador</a>
        </div>       
        </li>





      <li><div class="divider"></div></li>
      </ul>
  </ul>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
    });
  </script>

</div>