<div class="sidebar">
    <a href="index.php">Expedientes</a>
    <a href="consultaExpediente.php">Consultar Expedientes</a>
    <a href="consultaReceta.php">Recetas</a>
    <a href="consultaPrograma.php">Programas de atención</a>
    <a href="altaArea.php">Area</a>
    <a href="consultaMedicamento.php">Medicamentos</a>
    <a href="consultaArea.php">Area</a>
    <a href="altaMedicamento.php">Medicamentos</a>
    <a href="consultaDiagnostico.php">Diagnostico</a>
    <a href="altaAlbum.php">Album Alta</a>
    <a href="altaDocumentos.php">Subir documentos</a>
    <hr>
</div>