<nav id="sticky"class="navbar-default anyClass sticky-top">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="nav-wrapper">
    <a class="navbar-brand" href="index.php">
      <img class="logo" src="Image/logo_interna.png" alt="Logo needed">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="login.php" class=""><i class="material-icons left">power_settings_new</i>Cerrar sesion</a></li>
    </ul>
  </div>
</nav>